[Desktop Entry]
Name=Stacer
Exec="/home/$USER/.local/share/bauh/appimage/installed/stacer/Stacer-1.1.0-x64.AppImage"
Comment=Linux System Optimizer and Monitoring
Icon=/home/$USER/.local/share/bauh/appimage/installed/stacer/logo.png
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Utility;
X-AppImage-Version=e99485e
