[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=/opt/Arch-Systemtool/kdeupdater-v1.03
GenericName[en_GB]=
GenericName=
Icon=
MimeType=
Name[en_GB]=kdeupdater-v1.03
Name=kdeupdater-v1.03
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
